{% extends 'layout/master.twig' %}

{% block content %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">KK Hiring API</h6>
                <small>Test project</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Employees</h6>
            {% for employee in employees %}
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{ employee.title }} {{ employee.first_name }} {{ employee.last_name }} ({{ employee.email }})</strong>
                        {{ employee.bio }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}